@import "ts-modules/lib"
@import "theme.sass"
@import "animation.sass"


#Showcase
    .camera
        +dimension(100%, 250px)
        background-color: $primary-color
        +slideUp-anim
        +min(sm)
            height: 50vh
        +min(xl)
            height: 70vh
        .Letter
            +fadeIn-letter-anim
            .fill-pattern
                fill: $light-color
    +min(md)
        [data-animate]
            opacity: 0
            &.animate-active
                opacity: 1
                transform: translate(0px)
                +scroll-tran
        [data-animate="fadeUp"]
            transform: translateY(200px)
        [data-animate="fadeLeft"]
            transform: translateX(200px)



    section
        text-align: center
        color: $black-color

        .rect-after::after
            content: ''
            +position(300px, 306px, absolute)
            +dimension(1000px, 700px)
            max-width: 70%
            background: #f6f6f6
            z-index: -1
            display: none
            +min(xl)
                display: block
        .description
            width: 90%
            margin: 0 auto
            p
                text-align: left

#first-section
    .mobile-showcase
        width: 90%
        height: 500px
        margin: 50px auto 0 auto
        background-repeat: no-repeat
        background-size: cover
        color: $light-color
        overflow: hidden
        box-shadow: 0 0 60px rgba(0, 0, 0, .20)
        +min(md)
            height: 700px
            margin: 100px auto 0 auto
            background-attachment: fixed

        img
            height: 90%


#second-section
    .desktop-showcase
        width: 100%
        margin-top: 50px
        padding-right: 0px
        position: relative
        +min(md)
            margin-top: 100px
        +min(xl)
            padding-right: 150px
            margin-top: 150px
            &.right
                justify-content: flex-end
            &.left
                justify-content: flex-start
        .row
            width: 90%
            max-width: 1000px
            +min(xl)
                width: 100%

        img
            box-shadow: 0 0 60px rgba(0, 0, 0, .20)

    .description.between-showcases
        margin-top: 50px
        +min(md)
            margin-top: 100px
        +min(xl)
            margin-top: 150px

#third-section
    .consulation
        width: 90%
        background-color: $primary-color
        color: $light-color
        margin: 50px auto 25px auto
        padding: 10px
        +min(md)
            margin: 100px auto 25px auto
            padding: 25px
        +min(xl)
            margin: 150px auto 50px auto

        a
            +secondary-hover

        .container
            width: 100%
            margin-top: 25px
            +min(md)
                margin-top: 50px

            .column
                width: 50%
            .next
                text-align: right
                padding-right: 20px
                +min(sm)
                    padding-right: 50px
                +min(lg)
                    padding-right: 100px
            .prev
                text-align: left
                padding-left: 20px
                +min(sm)
                    padding-left: 50px
                +min(lg)
                    padding-left: 100px

            .content
                display: inline-block