@import "ts-modules/lib"
@import "theme.sass"
@import "animation.sass"


#Showcase
    .wrapper
        +dimension(100%, 250px)
        background-color: $primary-color
        +min(sm)
            height: 50vh
        +min(xl)
            height: 70vh
        .Letter
            .fill-pattern
                fill: $light-color

section
    text-align: center
    color: $black-color
    p
        max-width: 500px
        margin: 0 auto
        +min(md)
            max-width: 700px
    .rect-after::after
        content: ''
        +dimension(1000px, 700px)
        max-width: 70%
        background: #f5f5f5
        +position(300px, 306px, absolute)
        z-index: -1
        display: none
        +min(xl)
            display: block
    .description
        width: 90%
        margin: 0 auto
        p
            text-align: left

#first-section
    .mobile-showcase
        width: 90%
        height: 500px
        margin: 50px auto 0 auto
        background: url('./bg1.jpg') no-repeat
        background-size: cover
        background-attachment: fixed
        color: $light-color
        overflow: hidden
        box-shadow: 0 0 80px rgba(0, 0, 0, .20)
        +min(md)
            height: 700px
            margin: 100px auto 0 auto
        img
            height: 90%


#second-section
    .desktop-showcase
        width: 100%
        margin-top: 50px
        padding-right: 0px
        position: relative
        +min(md)
            margin-top: 100px
        +min(xl)
            padding-right: 150px
            margin-top: 150px
            &.right
                justify-content: flex-end
            &.left
                justify-content: flex-start
        .row
            width: 90%
            max-width: 1000px
            +min(xl)
                width: 100%

        img
            box-shadow: 0 0 80px rgba(0, 0, 0, .20)

#third-section
    .consulation
        width: 90%
        background-color: $primary-color
        color: $light-color
        margin: 50px auto 25px auto
        padding: 10px
        +min(md)
            margin: 100px auto 25px auto
            padding: 25px
        +min(xl)
            margin: 150px auto 50px auto
        h4
            margin: 0
            font-size: 1.5rem
            +min(md)
                font-size: 2rem

        a
            &:hover
                color: #00328e
                h4
                    text-decoration: underline

        .container
            width: 100%
            margin-top: 25px
            +min(md)
                margin-top: 50px

            .column
                width: 50%
            .next
                text-align: right
                padding-right: 20px
                +min(sm)
                    padding-right: 50px
                +min(lg)
                    padding-right: 100px
            .prev
                text-align: left
                padding-left: 20px
                +min(sm)
                    padding-left: 50px
                +min(lg)
                    padding-left: 100px

            .content
                display: inline-block