@import "ts-modules/lib"
@import "theme.sass"
@import "animation.sass"

#Language
    position: fixed
    bottom: 50px
    left: 50px
    z-index: 999
    &.black-color
        color: $dark-color
    .buttons
        width: 60px
        .button
            font-weight: $regular
        .divider
            width: 1px
            background-color: currentColor
