@import "ts-modules/lib"
@import "theme.sass"
@import "animation.sass"

#Side
    background: #4527a0
    width: 0px
    overflow: hidden
    z-index: 2
    +slide-width-transition

[data-home="false"]
    #Side
        width: 50%

[data-home="true"][data-from]
    #Side
        +slide-side-width-animation
        transition: none // important for bug on mobile devices

[data-down="true"][data-from="1"],
[data-down="true"][data-from="2"],
[data-down="true"][data-from="3"],
[data-down="false"][data-from="2"],
[data-down="false"][data-from="3"],
[data-down="false"][data-from="4"]
    #Side
        +page-to-page-sequence

[data-down="true"][data-from="2"]
    #Side
        +page-to-page-change-sequence


[data-down="false"][data-from="2"],
[data-down="false"][data-from="3"],
[data-down="false"][data-from="4"]
    #Side
        +page-to-page-back-sequence


[data-down="false"][data-from="3"]
    #Side
        +page-to-page-back-change-sequence