@import "ts-modules/lib"
@import "theme.sass"
@import "animation.sass"

#Form
    z-index: 999
    +position(0, null, null, 0, absolute)
    +dimension
    transform: translateX(100%)
    +slide-left-form-anim
    color: $dark-color
    .form
        +dimension(100%, 100%)
        background-color: $light-color
        overflow-y: auto
        padding: 0 50px
        +min(sm)
            width: 70%
        +min(xl)
            width: 38%
    .disabled-container
        +dimension(0%, 100%)
        background: rgba(0, 0, 0, 0)
        +background-fadeIn-anim
        +min(sm)
            width: 30%
        +min(xl)
            width: 62%
    .validation
        color: $primary-color

    h3
        margin-top: 0

    .button
        margin-bottom: 25px
        button
            background-color: $primary-color
    svg
        margin-top: 25px
        min-height: 48px

    &[data-close="true"]
        +slide-right-form-anim
        .disabled-container
            +background-fadeOut-anim