@import "ts-modules/lib"
@import "theme.sass"
@import "animation.sass"

#Letter
    +center
    +dimension(200px, 200px)
    opacity: 1
    +fade-letter-transition
    +fade-in-animation
    +min(md)
        +dimension(350px, 350px)
        +letter-desktop-delay

    +min(xl, 700px)
        +dimension(450px, 450px)

    +maxHeight(500px)
        +dimension(200px, 200px)

    .background-mask-rect
        x: 100%
        +move-transition
        +move-in-animation
        +min(md)
            +letter-desktop-delay
    .fill-light-color
        fill: $light-color
    .stroke-light-color
        stroke: $light-color

[data-home="false"] #Letter
    opacity: 0
    +delay(0s)
    .background-mask-rect
        x: 0
        +delay(0s)