@import "ts-modules/lib"
@import "theme.sass"
@import "animation.sass"

.Letter
    +dimension(150px, 150px)

    +min(md)
        +dimension(250px, 250px)

    +min(xl, 700px)
        +dimension(450px, 450px)

    +maxHeight(500px)
        +dimension(150px, 150px)

    +ie
        opacity: 1
        +fade-in-ie-anim
        +fade-ie-tran

    .fill-pattern
        fill: $black-color
    &[data-letter="C"]
        .fill-pattern
            fill: $light-color


#Letter
    +center
    .background-mask-rect
        x: 100%
        +move-in-anim
        +min(md)
            +letter-desktop-delay


#ContentLetter
    position: absolute
    top: 50%
    right: 0
    transform: translate(50%, -50%)
    opacity: 0
    +fade-page-letter-tran

    .background-mask-rect
        x: 0px
        +move-page-letter-tran
        +min(md)
            +letter-desktop-delay

[data-side-ready="true"]
    #ContentLetter
        opacity: 1
        +duration(.8s)
        .background-mask-rect
            x: 100%

[data-side-ready="false"]
    #ContentLetter
        .background-mask-rect
            +delay(.8s)
            +duration(0s)



#letter-shape-C .shape
    stroke-dasharray: 901.397px
    stroke-dashoffset: 0px
    +letter-c-anim
    +dash-letter-c-tran


[data-home="false"]
    #letter-shape-C .shape
        stroke-dashoffset: 901.397px
        +delay(0s)
    +ie
        #Letter
            opacity: 0
            +delay(0s)
        #letter-shape-C .shape
            stroke-dashoffset: 0

