@import "ts-modules/lib"
@import "theme.sass"
@import "animation.sass"

#Navigator
    +center(x)
    bottom: 25px
    z-index: 100
    opacity: 0
    +navigator-tran
    +min(md)
        bottom: 50px
    .links
        width: 170px
        div
            cursor: pointer
            user-select: none
            position: relative
            opacity: .5
            +hover-tran
            &.active
                opacity: 1
            &:not(.active):hover
                opacity: 1

[data-ready="true"]
    #Navigator
        opacity: 1

[data-home="true"][data-from]
    #Navigator
        +heading-finish