@import "ts-modules/lib"
@import "theme.sass"
@import "animation.sass"

#Navigator
    +center(x)
    bottom: 50px
    z-index: 100
    opacity: 0
    +wheel-tran
    .links
        width: 170px
        div
            cursor: pointer
            user-select: none
            transition: opacity 0s .4s
            position: relative
            span
                +hover-tran
                position: relative
                &:hover
                    opacity: 1

[data-ready="true"]
    #Navigator
        opacity: 1
        div
            +delay(0s)
            &.active
                opacity: 1
                span
                    opacity: 1
                span::after
                    content: ''
                    +center
                    width: 3px
                    height: 1px
                    background-color: $light-color
                span
                    opacity: 1
            span
                opacity: .5

[data-home="true"][data-from]
    #Navigator
        +heading-finish