@import "kasarda/lib"
@import "theme.sass"
@import "animation.sass"

#Navigation
    position: fixed
    z-index: 100
    width: 100%
    margin-top: 25px
    font-family: $primary-font
    font-weight: $bold
    text-transform: uppercase
    +min(md)
        margin-top: 50px
    a
        padding: 0 15px
        overflow: hidden
        &.active
            opacity: .5

    .column
        position: relative
        width: 100%
        max-width: 100%
        flex-basis: 0
        flex-grow: 1

    .brand
        padding-left: 20px
        overflow: hidden
        +min(md)
            padding-left: 50px
        a
            padding: 0

    .links
        padding-right: 20px
        +min(md)
            padding-right: 50px
        a
            &:first-child
                padding-left: 0
            &:last-child
                padding-right: 0
    svg
        .icon
            fill: $light-color