@import "ts-modules/lib"
@import "theme.sass"


#Navigation
    font-family: $sans-serif
    padding-top: 25px
    text-transform: uppercase
    font-weight: $bold
    position: relative
    z-index: 999
    +min(md)
        padding-top: 50px

    a
        color: $font-color
        text-decoration: none
        padding: 0 15px
        font-size: $link-size
        letter-spacing: 4px
        transition: opacity $hover-animation
        &:hover, &.active
            opacity: .5


    .brand
        padding-left: 20px
        +min(md)
            padding-left: 50px
        a
            padding: 0
            font-size: $logo-size
            letter-spacing: 8px

    .links
        padding-right: 20px
        +min(md)
            padding-right: 50px
        a
            &:first-child
                padding-left: 0
            &:last-child
                padding-right: 0
    svg
        use
            fill: $font-color