@import "kasarda/lib"
@import "theme.sass"
@import "animation.sass"

#Description
    margin: 15px 0 0 0
    +min(md)
        margin: 30px 0 0 0
    +min(xl)
        margin: 40px 0 0 106px
    +maxHeight(500px)
        margin: 15px 0 0 0

    .button
        margin-top: 0px
        +min(md)
            margin-top: 35px
        +maxHeight(500px)
            margin-top: 0px
    .paragraphs
        +maxHeight(500px)
            display: none
    .anim
        opacity: 0
        transform: translateY(0px)
        +fade-vertical-tran
        +min(md)
            transform: translateY(100px)
    +repeat-delay(' .anim-', $fade-vertical-delays, transition)




[data-side-ready="false"][data-from="0"]
    #Description .anim
        transition: none


[data-down="true"][data-side-ready="false"]:not([data-from="0"]),
[data-down="false"][data-side-ready="false"]
    #Description
        +repeat-delay(' .anim-', $fade-vertical-reverse-delays, transition)




[data-down="true"][data-side-ready="true"],
[data-down="false"][data-side-ready="true"]
    #Description
        .anim
            opacity: 1
            transform: translateY(0px)

[data-side-ready="true"][data-redirect="true"]
    #Description
        .anim:not(.anim-4)
            opacity: 0
            transform: translateY(100px)
        +repeat-delay(' .anim-', $fade-vertical-reverse-reset-delays, transition)
        .anim-4
            opacity: 0
