
//? Initialize Animation
// Home > .rule
=slide-anim
    animation: SlideAnim .4s .4s ease-in backwards

// Home > Letter > C.letter > .shape
=letter-c-anim
    animation: DashAnim .8s .6s ease-in backwards

// Home > Letter > rect.background-mask
=move-in-anim
    animation: MoveInAnim 1s 1s ease-in backwards

=letter-desktop-delay
    animation-delay: 1.4s

// Home > Letter -> only IE
=fade-in-ie-anim
    animation: FadeInAnim 1s .4s ease-in backwards

// Home > h1
=fade-in-anim
    animation: FadeInAnim-Ready 1s 1.4s ease-in backwards




=InitializeKeyframes
    @keyframes DashAnim
        from
            stroke-dashoffset: 901.397px
        to
            stroke-dashoffset: 0px

    @keyframes MoveInAnim
        from
            x: 0px

    @keyframes SlideAnim
        from
            width: 100%

    @keyframes FadeInAnim
        from
            opacity: 0


    @keyframes FadeInAnim-Ready
        from
            opacity: 0







//? Home <=> Page
// Home > Letter > C.letter > .shape
=dash-letter-c-tran
    transition: stroke-dashoffset .8s 1.6s ease-in-out

// Home > Letter -> Only IE
=fade-ie-tran
    transition: opacity .4s 1.6s ease-in-out

// Home > Navigator
=navigator-tran
    transition: opacity .4s ease-in-out

// Home > h1
=fade-heading-tran
    transition: opacity 1s 1.8s ease-in-out

// Home > Navigator
=heading-finish
    animation: HeadingFinish-RenderPage-RenderImage-Ready 2.4s // (fade-heading-tran.del + fade-heading-tran.dur) - .4

// Home > .rule
=slide-tran
    transition: width .4s 1.4s ease-in-out

// Home > Side
=slide-width-tran
    transition: width .4s 1.2s ease-in-out

// Home > .column
=slide-height-tran
    transition: height .4s .4s ease-in-out, margin .4s .4s ease-in-out

=slide-height-delay
    transition-delay: 1.6s

=rule-finish
    animation: RuleFinish-SideReady-StartRender 2s // slide-height-delay +  slide-height-transition.duration



=HomeToPageKeyframes
    @keyframes RuleFinish-SideReady-StartRender
        to
            font-size: 100%
    @keyframes HeadingFinish-RenderPage-RenderImage-Ready
        to
            font-size: 100%







//? From Page view to Home view -> Side
// Home > Side
=slide-side-width-anim
    animation: SlideSideWidthAnim .4s .8s ease-in backwards

=PageToHomeKeyframes
    @keyframes SlideSideWidthAnim
        from
            width: 50%
        to
            width: 0px






//? From Page view to Page view
// Home > Side
=page-seq
    animation-duration: .4s
    animation-delay: .6s, 1.2s, 1.8s
    animation-timing-function: ease-in
    animation-fill-mode: forwards
    animation-name: NextWidthAnim-RenderImage, NextLeftAnim-RenderPage, NextNewWidthAnim-SideReady

=prev-page-seq
    animation-name: PrevWidthAnim-RenderPage, PrevRightAnim-RenderImage, PrevNewWidthAnim-SideReady


=PageSeqKeyframes
    @keyframes NextWidthAnim-RenderImage
        to
            width: 100%

    @keyframes NextLeftAnim-RenderPage
        to
            left: 100%

    @keyframes NextNewWidthAnim-SideReady
        from
            width: 0px
            left: 0px
        to
            width: 50%
            left: 0px

    @keyframes PrevWidthAnim-RenderPage
        to
            width: 0px

    @keyframes PrevRightAnim-RenderImage
        from
            left: 100%
            width: 100%
        to
            left: 0px
            width: 100%

    @keyframes PrevNewWidthAnim-SideReady
        from
            width: 100%
        to
            width: 50%







//? Page Content
// Home > Side > .heading > h2
=fadeIn-left-anim
    animation: FadeInLeftAnim-Ready .6s ease-in-out forwards

=left-fadeOut-anim
    animation: LeftFadeOutAnim .6s ease-in-out forwards

=right-fadeOut-anim
    animation: RightFadeOutAnim .6s ease-in-out forwards

=fadeIn-right-anim
    animation: FadeInRightAnim-Ready .6s ease-in-out forwards

// Home > Side > .heading > .hr
=hr-slideIn-anim
    animation: HrSlideInAnim 1s ease-in-out forwards

=hr-slideOut-anim
    animation: HrSlideOutAnim .6s ease-in-out forwards

=hr-slideIn-slideOut-anim
    animation: HrSlideInOutAnim .6s ease-in-out forwards

// Home > Side > Description > .fadeIn
=fade-vertical-tran
    transition: opacity .6s ease, transform .4s ease

// Home > Side > Letter
=fade-page-letter-tran
    transition: opacity .4s ease-in-out

=move-page-letter-tran
    transition: x 1s ease-in-out



=PageContentKeyframes
    @keyframes FadeInLeftAnim-Ready
        from
            transform: translateX(-50%)
            opacity: 0
        75%
            opacity: 1
        to
            opacity: 1
            transform: translateX(0%)

    @keyframes LeftFadeOutAnim
        from
            transform: translateX(0%)
            opacity: 1
        75%
            opacity: 0
        to
            transform: translateX(50%)
            opacity: 0

    @keyframes RightFadeOutAnim
        from
            transform: translateX(0%)
            opacity: 1
        75%
            opacity: 0
        to
            transform: translateX(-50%)
            opacity: 0


    @keyframes FadeInRightAnim-Ready
        from
            transform: translateX(50%)
            opacity: 0
        75%
            opacity: 1
        to
            transform: translateX(0%)
            opacity: 1


    @keyframes HrSlideInAnim
        25%
            transform: translateX(-50px)
            width: 120px
        75%
            width: 200px
            transform: translateX(-50px)
        to
            width: 70px
            transform: translateX(0px)

    @keyframes HrSlideOutAnim
        from
            width: 70px
            transform: translateX(0px)
        25%
            width: 150px
            transform: translateX(0px)
        to
            width: 0
            transform: translateX(0px)

    @keyframes HrSlideInOutAnim
        from
            width: 70px
            transform: translateX(0px)
        75%
            width: 150px
            transform: translateX(0px)
        to
            width: 0
            transform: translateX(0px)




//? Always active
// Navigation > Link >
   Home > Navigator > div
=hover-tran
    transition: opacity .15s ease-in-out

// Home > Side > Description > .button > a::after
=move-button-tran
    transition: left .4s ease-in-out

// Home > Side > Description > .button > a
=color-button-tran
    transition: color .4s .3s ease-in


//? Prebuild
=delay($val)
    transition-delay: $val

=duration($val)
    transition-duration: $val