@keyframes WheelAnimation {
  to {
    top: 2px;
    opacity: 0; } }

@keyframes SlideAnimation {
  from {
    width: 100%; } }

@keyframes MoveInAnimation {
  from {
    x: 0; } }

@keyframes FadeInAnimation {
  from {
    opacity: 0; } }
