// Global Styles
@import "~ts-modules/lib"
@import "~ts-modules/normalize"
@import "~ts-modules/grid"
@import "~ts-modules/visibility"
@import "~ts-modules/animation"

body
  margin: 0
  padding: 0
  font-family: sans-serif