// Typography
$primary-font: 'Montserrat', sans-serif
$secondary-font: 'Playfair Display', serif

$primary-size: 16px
$mobile-size: 14px

$bold: 700
$regular: 400
$light: 100


// Colors
$primary-color: #004bd3
$light-color: #ffffff
$secondary-color: #0040cb
$dark-color: #0034c4
$black-color: #000
$danger-color: red


// Heading
$h1-size: 4.188rem
$h1-mobile-size: 2.500rem
$h1-height: 4.875rem
$h1-mobile-height: 2.938rem
$h1-spacing: .089rem

$h2-size: 4.188rem
$h2-mobile-size: 2.500rem
$h2-small-size: 3rem
$h2-tiny-size: 2rem
$h2-height: 4.188rem
$h2-spacing: .009rem

$h3-size: 4.375rem
$h3-mobile-size: 3rem

$h4-size: 2rem
$h4-mobile-size: 1.5rem



// Paragraph
$p-size: 1.3rem
$p-height: 2.15rem
$p-spacing: .090rem
$p-small-size: 1.1rem
$p-small-height: 1.9rem


// Anchor
$a-size: .688rem
$a-spacing: .138rem


// Navigation
$logo-size: 1.125rem
$logo-spacing: .500rem
$link-size: .688rem
$link-spacing: .250rem


// Mixins
=primary-hover
    cursor: pointer
    +hover-tran
    &:hover, &.active
        opacity: .5

=secondary-hover
    &:hover
        color: #00328e
        &.underline
           text-decoration: underline
        h4
            text-decoration: underline