// Theme


// Typography
$primary-font: 'Montserrat', sans-serif
$secondary-font: 'Playfair Display', serif

$primary-size: 16px
$mobile-size: 14px
$logo-size: 1.125rem
$link-size: 0.688rem
$heading-size: 4.188rem

$heading-line-height: 4.875rem
$link-letter-spacing: 0.250rem
$logo-letter-spacing: .500rem

$bold: 700
$regular: 400
$light: 100



// Colors
$primary-color: #004bd3
$light-color: #ffffff



// Animations
$hover-animation: .15s ease-in-out
$wheel-animation: 2s linear infinite

$short-delay: .4s
$long-delay: .8s