@import "ts-modules/lib"
@import "theme.sass"
@import "animation.sass"

$padding-from-screen: 50px
$padding-from-screen-mobile: 20px

#Home
    .wrapper
        +dimension
        padding: 0 $padding-from-screen-mobile
        +min(md)
            justify-content: center
            padding: 0 $padding-from-screen

        .column
            height: auto
            transition: $slide-height-transition
            position: relative
            margin-right: -$padding-from-screen-mobile
            +min(md)
                margin-right: -$padding-from-screen

            +min(1024px)
                margin-left: 86px
            +min(1300px)
                margin-left: 150px
            +min(1600px)
                margin-left: 250px

        .rule
            position: absolute
            width: 0px
            height: 100%
            background-color: $light-color
            transition: $slide-transition
            +min(md)
                width: 1px
                animation: $slide-animation

        h1
            padding-bottom: 50px
            transition: $long-fade-transition
            animation: $fade-in-animation
            opacity: 1
            +min(md)
                padding-bottom: 0
                padding-left: 25px

    .side-content
        background: #4527a0
        width: 0
        z-index: 2
        transition: $slide-width-transition

    &[data-page="1"]
        .column
            height: 100%
            transition-delay: $slide-height-delay
        .rule
            width: 100%
            transition-delay: 0s
        h1
            opacity: 0
            transition-delay: 0s

        .side-content
            width: 50%

