@import "ts-modules/lib"
@import "theme.sass"
@import "animation.sass"

$padding-from-screen: 50px
$padding-from-screen-mobile: 20px

#Home
    .wrapper
        +dimension
        padding: 0 $padding-from-screen-mobile
        +min(md)
            justify-content: center
            padding: 0 $padding-from-screen

        .column
            height: 150px
            position: relative
            margin-right: -$padding-from-screen-mobile
            margin-bottom: 25px
            animation: none
            +slide-height-tran
            +min(md)
                height: 250px
                margin-bottom: 0
                margin-right: -$padding-from-screen

            +min(1024px)
                margin-left: 86px
            +min(1300px)
                margin-left: 150px
            +min(1600px)
                margin-left: 250px

        .rule
            position: absolute
            width: 0px
            height: 100%
            background-color: $light-color
            z-index: 1
            +slide-tran
            overflow: hidden
            +min(md)
                width: 1px
                +slide-anim
            .background
                +dimension
                opacity: 0
                background-repeat: no-repeat
                background-size: cover
                background-position-x: left
                transition: opacity .4s .8s
                +min(md)
                    background-position-x: right

        h1
            padding-bottom: 50px
            +fade-heading-tran
            +fade-in-anim
            opacity: 1
            +min(md)
                padding-bottom: 0
                padding-left: 25px
            +ie
                animation-delay: .6s


    &[data-from]:not([data-home="true"])
        .wrapper
            .rule
                .background
                    opacity: 1
                    +delay(1.2s)

    &[data-home="false"]
        .column
            height: 100%
            margin-bottom: 0
            margin-left: -20px
            +rule-finish
            +slide-height-delay
            +min(md)
                margin-left: -50px
        .rule
            width: 100%
            +delay(.8s)

        h1
            opacity: 0
            +delay(0s)